DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=listing_tracker
DATABASE_USER=listing_tracker_user
DATABASE_PASSWORD=your_password

ALGOLIA_APP_ID=2DEAES0CUO
ALGOLIA_API_KEY=your_algolia_api_key
ALGOLIA_INDEX_NAME=production_rw_products_v2_popularity
ALGOLIA_ENDPOINT=https://2deaes0cuo-2.algolianet.com/1/indexes/production_rw_products_v2_popularity/query
